
.cdpp-homepage-exhibition-block-wrapper {

	$bp-img_on_top-max: $bp-large-max;
	$bp-img_on_top-min: $bp-large-min;

	$bp-single_column-max: $bp-mobile-max;
	$bp-single_column-min: $bp-mobile-min;

	position: relative;
	overflow: hidden;
	max-width: 1300px;
	overflow: hidden;

	@media (min-width: $bp-img_on_top-min) {
		padding: 40px 0;
		margin: -40px auto;
	}

	@media (max-width: $bp-img_on_top-max) {
		display: flex;
		flex-direction: column-reverse;
	}

	#block-bean-homepage-exhibition-block-left {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;

		img {
			width: 100%;
			object-fit: cover;
			font-family: "object-fit: cover;";//polyfill
		}

		@media (min-width: $bp-img_on_top-min) {
			position: absolute;
			width: 50%;

			img {
				max-height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}

	}

	#block-bean-homepage-exhibition-block-right {
		position: relative;
		z-index: 2;

		@media (min-width: $bp-single_column-min) {
			padding-right: 30px;
		}

		@media (min-width: $bp-img_on_top-min) {
			@include restrictor_padding;
		}

		&, a {
			color: #fff;
		}

		.bean-homepage-exhibition-block-right {
			@include restrictor;

			> .content {
				display: flex;
				margin-left: auto;

				@media (min-width: $bp-img_on_top-min) {
					width: 66%;
				}

				@media (max-width: $bp-single_column-max) {
					flex-direction: column;
				}

				@media (min-width: $bp-single_column-min) {
					> * {
						width: 50%;
					}
				}

			}
		}

		.group-left, .group-right {
			padding: 20px;

			@media (min-width: $bp-single_column-min) {
				padding: 40px 50px;
			}
		}

		.group-left {
			background: $green-primary;
		}
		.group-right {
			padding-right: 20px;
			background: $green-light;
			position: relative;

			@media (min-width: $bp-single_column-min) {
				padding-right: 0;
			}

			&,
			& > * {
				flex-grow: 1;
				display: flex;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 99%;
				width: 50vw;
				background: $green-light;
			}
		}

		.field-name-field-title {
			font-size: 2.8rem;
			font-weight: bold;
			line-height: 1.1;
			margin-bottom: 2rem;

			@media (max-width: $bp-img_on_top-max){
				font-size: 2.2rem;
			}
		}

		.field-name-field-bean-body {
			font-size: 1.6rem;
		}

		.field-name-field-read-more a {
			@include btn($hoverBG: darken($green-primary, 15%));
		}

		.field-name-field-unlimited-link-to {
			.field-items {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
			.field-item {
				flex-grow: 1;
				display: flex;

				+ .field-item {
					border-top: 1px solid #2B6E76;
				}
			}

			a {
				@include btn($hoverBG: $green-primary);
				margin-top: 0;
				border: 0;
				max-width: none;
				font-size: 2rem;
				font-weight: bold;
				text-transform: none;

				@media (max-width: $bp-single_column-max) {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}
		}
	}
}
