
// Footer
footer.footer {
  border-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  a {
    color: $textColour;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  #region-top-footer {
    background: $lightBG;
    padding: 20px 0;
    h2.block-title {
      margin-top: 0;
    }
    .block {
      li {
        margin-top: 1.5em;
        a {
          color: $textColour;
          padding: 10px 0;
        }
      }
    }
    ul {
      margin-bottom: 0;
    }
    .service-links {
      ul {
        list-style: none;
        padding-left: 0;
        a {
          img {
            width: 16px;
            display: inline-block;
            margin-top: -4px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  #region-bottom-footer {
    background-color: $darkBG;
    li {
      margin: 15px 68px 5px 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #fff;
      }
    }
  }
}
