#block-bean-homepage-information-block-base {

	$bp-singleColumn-max: 600px;
	$bp-singleColumn-min: $bp-singleColumn-max + 1;

	$gap--vertical: 35px;
	$gap--horizontal: 60px;
	font-size: 1.6rem;

	.block-title {
		margin: 0;
		// @extend .sr-only;
	}

	.field-name-field-information-paragraph-bund {
		> .field-items {
			flex-wrap: wrap;
			padding-top: 20px;
			padding-bottom: 25px;
			margin-left: -$gap--horizontal;
			margin-bottom: -$gap--vertical;

			@media (min-width: $bp-singleColumn-min) {
				display: flex;
			}

			> .field-item {
				border: 0 solid transparent;
				border-width: 0 0 $gap--vertical $gap--horizontal;

				box-shadow: inset 0 -1px 0 $green-light;
				padding-bottom: 20px;

				@media (min-width: $bp-singleColumn-min) {
					width: 50%;
				}
			}
		}
	}

	.field-name-field-link-to {
		font-weight: bold;
		margin-bottom: 0.5rem;

		a {
			color: $textColour;
		}
	}

	.field-name-field-subtitle {
		color: $dim-blue;
	}
}