.annual-report{
  &_download-link{
    background: #202020;
    border-radius: 5px;
    padding: 10px 15px;
    color: #cdcdcd;
    display: inline-block;
    a{
      font-weight: bold;
      color: white;
      text-decoration: underline;
    }
  }
  &_table-of-content{
    ul {
      display: inline-block;
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        border-bottom: 1px dashed rgba(0,0,0,0.2);
      }
    }
    a {
      display: block;
      padding: 7px 0px;
    }
  }
  &_block-quote {
    position: relative;
    margin: 20px 0;
    padding: 30px 50px;
    font-size: 2em;

    @media screen and (max-width: 1000px) {
      font-size: 1.5em;
    }
    .footer {
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 0px;
      border-top: 0;
      font-size: 0.5em;
      position: relative;
      &:after{
        content: '\201D';
        position: absolute;
        font-size: 90px;
        top: -50px;
        right: -30px;
      }
    }
    &:before{
      content: '\201C';
      position: absolute;
      font-size: 90px;
      top: 0;
      left: 0;
    }
  }
  &_section-box{
    margin-bottom: 40px;
    &:after{
      content: "";
      clear: both;
      display: table;
    }
    > div {
      border: 1px solid #505050;
      margin: 5px 0;
      padding: 20px;
      float: left;
      width: 48%;
      margin-right: 10px;
      min-height: 350px;
      border-radius: 5px;

      @media screen and (max-width: 1000px) {
        width: 100%;
        min-height: 20px;
      }

      h5 {
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 1.3em;
      }
      .text2{
        margin-top: 5px;
        /*font-weight: bold;*/
      }
    }
  }
  &_chapter-summary{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 40px;
    margin-bottom: 30px;
    h5{
      background: #505050;
      color:white;
      margin: 0px;
      font-weight: bold;
      font-size: 14px;
      padding: 12px 10px;
      +p {
        margin-top: -20px;
      }
    }
    p {
      background: #505050;
      padding: 12px 10px;
      font-size: 0.9em;
      letter-spacing: 0.8px;
      color:white;
      margin: 0px;
      +ul {
        width: 100%;
        padding: 10px;
        li {
          width: 100%;
          padding: 5px;
          span {
            font-weight: normal !important;
            color: #cdcdcd !important;
          }
        }
      }
    }
    ul {
      padding:30px;
      margin:0px;
      background: #202020;
      color:#cdcdcd;
      list-style:none;
      &:after{
        content: "";
        clear: both;
        display: table;
      }
      li {
        /*margin: -1px -1px 0 0;*/
        float: left;
        padding: 10px;
        box-sizing: border-box;
        width: (100/5)+%;
        span {
          line-height: 12px;
          font-size: 11px;
          display: inline-block;
          font-size: 13px;
          &:first-child {
            display: block;
            font-size: 25px;
            padding-bottom: 0px;
            font-weight: bold;
            color:white;
            line-height: 30px;
          }
          &:last-child {
            line-height: 15px;
            font-size: 13px;
            display: inline-block;
            font-size: 13px;
          }
        }
        &:nth-child(6) {
          clear: both;
          @media screen and (max-width: 800px) {
            clear:none;
          }
        }

        @media screen and (max-width: 800px) {
          width: (100/4)+%;
          &:nth-child(5) {
            clear:both;
          }
        }
        @media screen and (max-width: 600px) {
          width: (100/3)+%;
          &:nth-child(5) {
            clear:none;
          }
          &:nth-child(4) {
            clear: both;
          }
          &:nth-child(7) {
            clear: both;
          }
        }
        @media screen and (max-width: 400px) {
          width: (100/2)+%;
          &:nth-child(4) {
            clear: none;
          }
          &:nth-child(7) {
            clear: none;
          }
          &:nth-child(3),&:nth-child(5),&:nth-child(7) {
            clear: both;
          }
        }
      }
    }
    h2{
      margin: 0px;
      padding: 20px 10px;
      font-weight: bold;
      background: #505050;
      color: white;
    }
  }
  &_case-studies{
    background: #202020;
    color: #efefef;
    padding: 30px;
    margin: 30px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    h4 {
      margin: -30px -30px 20px;
      background: #505050;
      @media screen and (max-width: 1000px) {
        padding:30px;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      span {
        float:left;
        display: inline-block;
        padding: 30px;
        &:first-child{
          background: $yellow;
          color:black;
          margin-right: 30px;

          .-theme\:orange & {
            background: $orange;
          }

          @media screen and (max-width: 1000px) {
            background:transparent !important;
            color:white;
            padding:0px;
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
        +span {
          max-width: 70%;
          padding: 30px 0 0;
          @media screen and (max-width: 1000px) {
            padding:0px;
          }
        }
      }
    }
  }
  &_chapter-cover{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    margin: 80px 0 40px;
    .intro {
      background: #202020;
      padding: 30px 30px 80px;
      h3 {
        color: white;
        font-size: 2.5em;
        font-weight: bold;
        +p {
          color: white;
        }
      }
    }
    .summary{
      background: #505050;
      /*border: 1px solid #505050;*/
      &:after{
        content: "";
        clear: both;
        display: table;
      }
      h3, h4, h5 {
        font-size: 20px;
        font-weight: bold;
      }
      ul {
        margin: 0 0 20px;
        padding: 0px 0 0 17px;
      }
      .left, .right {
        padding: 30px;
        float: left;
        box-sizing: border-box;
        width: 50%;
        @media screen and (max-width: 1000px) {
          width:100%;
        }
      }
      .left {
        min-height: 400px;
        background: $yellow;

        .-theme\:orange & {
          background: $orange;
        }
      }
      .right {
        color: #efefef;
        .numbers{
          margin: 0px;
          padding: 10px;
          list-style: none;
          border: 1px dashed rgba(255,255,255,0.3);
          padding-top: 20px;
          margin-bottom: 20px;
          border-left: 0px;
          border-right: 0px;
          @media screen and (max-width: 1000px) {
            border-bottom:0px;
          }
          &:after{
            content: "";
            clear: both;
            display: table;
          }
          li {
            width:(100/3)+%;
            text-align: center;
            box-sizing: 10px;
            min-height: 80px;
            text-align: center;
            float:left;
            @media screen and (max-width: 500px) {
              width:(100/2)+%;
            }
            @media screen and (max-width: 350px) {
              width:(100/1)+%;
              text-align: left;
            }
            > span {
              display: block;
              font-size: 12px;
              color: #cdcdcd;
              line-height: 12px;
              text-transform: lowercase;
            }
            span + span{
              margin-top: 10px;
              font-weight: bold;
              font-size: 20px;
              line-height: 23px;
              display: block;
              color:white;
            }  
          }

        }
      }
    }
  }
  &_summary-block{
    background: #202020;
    margin-bottom: 30px;
    padding: 30px;
    color: #efefef;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    h5, h3{
      margin: -30px -30px 20px;
      background: #505050;
      font-size: 1.2em;
      font-weight: bold;
      padding: 15px 30px;
    }
    ul {
      padding: 0 0 0 15px;
      li {
        span + span {
          margin-left: 5px;
        }
      }
    }
  }
  &_table {
    width: 100%;
    overflow: auto;
    caption {
      background: #202020;
      color:white;
      font-size: 12px;
      padding: 10px;
    }
    table {
      tr{
        &:first-child {
          td{
            border-top-color: black;
          }
        }
      }
    }
  }
  &_back-to-top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: $yellow;
    padding: 10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
    border: 1px solid rgba(#000, 0.2);

    &.-theme\:orange {
      background: $orange;
    }

    &:hover {
      background: #fff;
    }

    &.active {
      opacity: 1;
    }
    @media screen and (max-width: 600px) {
      display:none;
    }
    &:before {
      content: "\2039";
      display: block;
      font-size: 40px;
      text-align: center;
      line-height: 10px;
      margin-bottom: 5px;
      transform: rotate(90deg);
      width: 49px;
      margin: 3px 0 2px;
    }
  }
  &_banner{
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &_chapter-title{
    font-size: 38px;
    font-weight: bold;
    margin: 40px 0 50px;
    letter-spacing: -1px;
    position:relative;
    &:before {
      content: '';
      width: 100%;
      position: absolute;
      bottom: -9px;
      border-top: 5px solid $yellow;

      .-theme\:orange & {
        border-top-color: $orange;
      }
    }
  }
}