
// Footer
footer.footer {
  border-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  a {
    color: $textColour;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  #region-top-footer {
    background: rgba(0, 0, 0, 0) linear-gradient(573deg, #4c3e2b, #a1835b) repeat scroll 0 0 / cover;
    padding: 20px 0;
    .block {
      li {
        margin-top: 1.5em;
        a {
          color: #fff;
          padding: 10px 0;
        }
      }
    }
  }
  #region-bottom-footer {
    background-color: $darkBG;
    li {
      margin: 15px 68px 5px 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #fff;
      }
    }
  }
}
