

// Header

#region-top-menu {
  padding: 8px 0 0 0;
  background-color: $lightBG;
  //margin-bottom: 10px;
  a {
    color: $lightTextColour;
    margin-left: 15px;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  #skip-link {
    float: left;
    a {
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .container {
    display: flex;

    &:before, &:after {
      display: none;
    }
  }

  .navbar-header {
    margin-right: 20px;
    margin-left: auto;
  }
}

#region-header {
  background-color: #fff;
  padding-top: 10px;
  a {
    img {
      /*width: 420px;*/
      height: auto;
      max-height: 71px;
      margin-bottom: 15px;
    }
  }
  .pull-right {
    padding-right: 0;
    // Secondary Menu
    #block-menu-block-3 {
      margin-top: 5px;
      float: right;
      a {
        color: $highlight;
      }
    }
  }
  // Stop links being above search bar not being clickable with
  // contextual links region.
  .block-search-api-page {
    clear: both;
  }
  // With Clear both above, the margin should be reduced.
  .search-form-widget {
    margin-top: 0;
    margin-bottom: 0;

    .form-group {
      margin-bottom: 0;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }
}




// Main Nav
#navbar {
  margin-bottom: 0;
  background-color: $textColour;
  border-radius: 0;
  border: 0;
  #region-navigation.navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    padding: 0;
    border: 0;

    .sf-main-menu {
      @media (min-width: 768px) {
        display: flex;
        width: 100%;
  
        &::after { display: none; }

        > * { flex-grow: 1; }
      }
    }

    #main-nav {
      padding-left: 0;
      padding-right: 0;
      .block-superfish > ul > li {
        a {
          color: #fff;
        }
        & > a {
          padding: 18px 10px;
          text-align: center;
          border-left: 8px solid $highlight;

          &:hover,
          &:active,
          &:focus {
            background: rgba(#fff,0.1);
            text-decoration: underline;
          }
        }
        &.sfHover > a {
          background: rgba(#fff,0.1);
          text-decoration: underline;
        }

        &:first-of-type { // lets just ignore usabilty for a sec
          display: none;
        }
        &:nth-of-type(2) > a {
          border-color: $processColour;
        }
        &:nth-of-type(3) > a {
          border-color: $prosecuteColour;
        }
        &:nth-of-type(4) > a {
          border-color: $caseReportsColour;
        }
        &:nth-of-type(5) > a {
          border-color: $statsColour;
        }
        &:nth-of-type(6) > a {
          border-color: $victimColour;
        }
        &.active-trail {
          background-color: #fff;
          a {
            color: $textColour;
          }
          ul {
            background-color: #fff;
          }
        }
      }
      ul ul {
        background-color: $darkBG;
        width: 100% !important;
        //padding: 20px;
        margin-top: 1.5em;
        opacity: 0.9;
        @include blurBG();
        li {
          //padding-bottom: 15px;
          //&:last-of-type {
          //  padding-bottom: 0;
          //}
          a {
            padding: 20px 15px;
            &.menuparent:after {
              font-family: "cdpp-icons";
              font-style: normal;
              font-weight: normal;
              speak: none;
              content: '\e80b';
              float: right;
              opacity: 0.5;
            }
            &:hover,
            &:active,
            &:focus {
              &.menuparent:after {
                opacity: 1;
              }
            }
          }
        }
        ul {
          margin-top: 0;
        }
      }
    }
  }

  // Mobile
  button.navbar-toggle {
    float: left;
    margin-left: 20px;
    &:before {
      content: "Menu";
      float: left;
      //padding-right: 0;
      padding-left: 2.3em;
      //padding-bottom: 3px;
      //padding: 3px 0 3px 2.3em;
      color: #fff;
      //top: -3px;
      position: relative;
    }
    .icon-bar {
      margin-top: 3px;
    }
  }
}

// Text resizer

%text-resize--active {
  background: $darkBG;
  color: #fff;
}

.text-resize {
  padding: 0;
  list-style: none;
  display: inline-flex;
  border: 1px solid $darkBG;
  float: right;
  margin-top: 37px;
  margin-bottom: 0;
  margin-right: 20px;

  li {
    background: transparent;
    padding: 3px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus {
      background-color: $lightBG;
    }
  }

  .icon {
    font-weight: bold;
  }

  .font-small {
    .icon {
      font-size: 0.8em;
    }
    html:not(.large-fonts) & {
      @extend %text-resize--active;
    }
  }

  .font-large {
    .icon {
      font-size: 1.2em;
    }
    html.large-fonts & {
      @extend %text-resize--active;
    }
  }
}

html.large-fonts {
  font-size: 125%;
  body { font-size: 1em; }
}