

// Header

#region-top-menu {
  padding: 8px 0 0 0;
  background-color: $lightBG;
  //margin-bottom: 10px;
  a {
    color: $lightTextColour;
    margin-left: 15px;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  #skip-link {
    float: left;
    a {
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

#region-header {
  background-color: #fff;
  padding-top: 10px;
  a {
    img {
      width: 420px;
      height: auto;
      max-height: 71px;
      margin-bottom: 15px;
    }
  }
  .pull-right {
    padding-right: 0;
    // Secondary Menu
    #block-menu-block-3 {
      margin-top: 5px;
      float: right;
      a {
        color: $highlight;
      }
    }
  }
}




// Main Nav
#navbar {
  margin-bottom: 0;
  background-color: $textColour;
  border-radius: 0;
  border: 0;
  #region-navigation.navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    padding: 0;
    border: 0;
    #main-nav {
      padding-left: 0;
      padding-right: 0;
      .block-superfish > ul > li {
        a {
          color: #fff;
        }
        & > a {
          padding: 18px 40px 18px 52px;
          &:hover,
          &:active,
          &:focus,
           {
            background: rgba(#fff,0.1);
            text-decoration: underline;
          }
        }
        &.sfHover > a {
          background: rgba(#fff,0.1);
          text-decoration: underline;
        }

        &:before {
          width: 8px;
          background-color: $highlight;
          content: "";
          float: left;
          min-height: 4em;
        }
        &:nth-of-type(2):before {
          background-color: $processColour;
        }
        &:nth-of-type(3):before {
          background-color: $prosecuteColour;
        }
        &:nth-of-type(4):before {
          background-color: $caseReportsColour;
        }
        &:nth-of-type(5):before {
          background-color: $statsColour;
        }
        &:nth-of-type(6):before {
          background-color: $victimColour;
        }
        &.active-trail {
          background-color: #fff;
          a {
            color: $textColour;
          }
          ul {
            background-color: #fff;
          }
        }
      }
      ul ul {
        background-color: $darkBG;
        width: 100% !important;
        //padding: 20px;
        margin-top: 1.5em;
        opacity: 0.9;
        @include blurBG();
        li {
          //padding-bottom: 15px;
          //&:last-of-type {
          //  padding-bottom: 0;
          //}
          a {
            padding: 20px 15px;
            &.menuparent:after {
              font-family: "cdpp-icons";
              font-style: normal;
              font-weight: normal;
              speak: none;
              content: '\e80b';
              float: right;
              opacity: 0.5;
            }
            &:hover,
            &:active,
            &:focus {
              &.menuparent:after {
                opacity: 1;
              }
            }
          }
        }
        ul {
          margin-top: 0;
          margin-left: 4.3em;
        }
      }
    }
  }

  // Mobile
  button.navbar-toggle {
    float: left;
    margin-left: 20px;
    &:before {
      content: "Menu";
      float: left;
      //padding-right: 0;
      padding-left: 2.3em;
      //padding-bottom: 3px;
      //padding: 3px 0 3px 2.3em;
      color: #fff;
      //top: -3px;
      position: relative;
    }
    .icon-bar {
      margin-top: 3px;
    }
  }
}
