// responsive overrides in here

.img-responsive {
  width: auto;
}


// 1200px +
@media screen and (min-width: 1200px) {
  //...
}


// 1100px - 1200px
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  //...
}

// => 768px
@media screen and (min-width: 991px) and (max-width: 1200px) {
  // Main Nav
  #navbar #region-navigation.navbar #main-nav {
    .block-superfish>ul>li>a {
      padding: 18px 27px 18px 30px;
    }
    ul ul ul {
      margin-top: -1em;
      margin-left: 0;
    }
  }

  // Homepage Carousel/Slider
  .carousel {
    .icon-circle-empty,
    .icon-circle {
      top: -4px;
    }
    .rslides_tabs {
      margin-top: -3em;
      margin-bottom: 0;
    }
    .icon-angle-circled-left,
    .icon-angle-circled-right {
      font-size: 180%;
    }
    .icon-angle-circled-left {
      margin-right: 5px;
    }
    .icon-angle-circled-right {
      margin-left: 5px;
    }
  }

  .node-page {
    .thumbnail {
      margin-bottom: 2em;
      .caption {
        bottom: 0; // for case reports page etc.
      }
    }
  }

  .panel.panel-default .panel-heading {
    h2 {
      font-size: 24px;
      i.icon-legal {
        font-size: 132%;
        margin-top: -2px;
      }
    }
  }

  // Footer wrapping
  footer.footer #region-bottom-footer li {
    margin: 15px 38px 5px 0;
  }

  // front page hover (advise / prosecute / educate)
  h2 .hide-hover {
    display:inline;
  }

}



// <= 991px
@media screen and (max-width: 991px) {
  // front page only
  body.front {
    // Slider
    .carousel .rslides_tabs {
      margin-top: 10px;
      text-align: center;
    }
    // Main content
    .main-container {
      .jumbotron,
      .panel.panel-default,
      .panel.panel-default .panel-heading,
      .panel.panel-default .panel-body,
      .thumbnail {
        border-radius: 0;
      }
      .panel-pane,
      .no-right-padding,
      .no-left-padding {
        padding: 0 !important;
      }
    }
  }
}


// => 768px
@media screen and (min-width: 768px) {
  //
}

// <= 768px
@media screen and (max-width: 768px) {
  //
}

// <= 725px
@media screen and (max-width: 725px) {
  // Header layout
  #region-header {
    .pull-right {
      float: none !important;
      .pull-right {
        width: 100%;
      }
    }
    .region-header {
      section.block {
        width: 50%;
        float: left !important;
        .list-inline li {
          float: left;
        }
      }
    }
  }
  // Main Nav
  #main-nav {
    padding-bottom: 10px;
    ul#superfish-1 {
      li {
        width: 100%;
        ul {
          display: none !important;
        }
      }
    }
  }

}


// <=455px
@media screen and (max-width: 455px) {
  #region-header {
    a img {
      width: 100%;
    }
    .region-header section.block {
      width: 100%;
    }
    .menu-name-menu-secondary-menu ul {
      padding-bottom: 20px;
      li {
        padding-right: 16px;
      }
    }
    .search-form-widget {
      .form-group .form-text {
        margin-left: -10px;
      }
      .btn.form-submit {
        margin-left: -12px;
      }
    }
  }
  .navbar-header {
    margin: 0 !important;
  }
  body.front .carousel {
    .group-right {
      padding-left: 0;
      margin-left: -15px;
    }
    .rslides_tabs {
      padding-left: 10px;
      text-align: left;
      li {
        margin-top: 20px;
        padding-right: 4px;
        padding-left: 4px;
      }
    }
  }
  .panel-col-bottom .pane-node {
    .panel-body {
      &:after {
        content: '' !important;
      }
    }
  }
}
