// responsive overrides in here

.img-responsive {
  width: auto;
}

// 1201px +
@media (min-width: $bp-desktop-min) {
  //...
}

// =< 1200px
@media (max-width: $bp-desktop-max) {
  //...
}


// 1101px - 1200px
@media (min-width: $bp-large-min) and (max-width: $bp-desktop-max) {
  //...
}


// => 768px
@media (min-width: $bp-tablet-min) and (max-width: $bp-desktop-max) {
  // Main Nav
  #navbar #region-navigation.navbar #main-nav {
    .block-superfish>ul>li>a {
      padding: 18px 27px 18px 30px;
    }
    ul ul ul {
      margin-top: -1em;
      margin-left: 0;
    }
  }

  .node-page {
    .thumbnail {
      margin-bottom: 2em;
      .caption {
        bottom: 0; // for case reports page etc.
      }
    }
  }

  .panel.panel-default .panel-heading {
    h2 {
      font-size: 24px;
      i.icon-legal {
        font-size: 132%;
        margin-top: -2px;
      }
    }
  }

  // Footer wrapping
  footer.footer #region-bottom-footer li {
    margin: 15px 38px 5px 0;
  }
}


// <= 991px
@media (max-width: $bp-tablet-max) {
  .main-container {
    > .row {
      display: flex;
      flex-direction: column-reverse;

      > section {
        width: 100%;
      }
    }
  }

  // front page only
  body.front {
    // Main content
    .main-container {
      .jumbotron,
      .panel.panel-default,
      .panel.panel-default .panel-heading,
      .panel.panel-default .panel-body,
      .thumbnail {
        border-radius: 0;
      }
      .panel-pane,
      .no-right-padding,
      .no-left-padding {
        padding: 0 !important;
      }
    }
  }

  #region-top-menu {
    .container {
      flex-wrap: wrap;
      justify-content: space-between;

      #full-site-name {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    .navbar-header {
      margin: 0;
    }
  }
}


// < 768px
@media (min-width: $bp-mobile-min) {
  //
}

// <= 768px
@media (max-width: $bp-mobile-max) {
  #region-top-menu {
    .google_translate {
      margin-right: 30px;
    }
  }
  // Header layout
  #region-header {
    .pull-right {
      float: none !important;
      .pull-right {
        width: 100%;
      }
    }
    .region-header {
      section.block {
        width: 50%;
        float: left !important;
        .list-inline li {
          float: left;
        }
      }
    }
  }
  // Main Nav
  #main-nav {
    padding-bottom: 10px;
    ul#superfish-1 {
      li {
        width: 100%;
        ul {
          display: none !important;
        }
      }
    }
  }
}


// <=470px
@media (max-width: $bp-small-max) {
  #region-header {
    a img {
      width: 100%;
    }
    .region-header section.block {
      width: 100%;
    }
    .menu-name-menu-secondary-menu ul {
      padding-bottom: 20px;
      li {
        padding-right: 16px;
      }
    }
    .search-form-widget {
      .form-group .form-text {
        margin-left: -10px;
      }
      .btn.form-submit {
        margin-left: -12px;
      }
    }
  }

  #region-top-menu {

    .full-site-name { order: 1; }

    .google_translate {
      width: 100%;
      display: flex;
      justify-content: center;
      order: 2;
      margin-right: 0;
    }

    .navbar-header {
      margin: 0 !important;
      width: 100%;
      order: 3;

      .contextual-links-region {
        margin-top: 10px;
        > ul {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .panel-col-bottom .pane-node {
    .panel-body {
      &:after {
        content: '' !important;
      }
    }
  }
}
