// Sidebar
.region-sidebar-first {
  border: 0;
  //background-color: $lighterBG;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0; // remove if bgcolour goes back to white
  ul {
    padding-left: 0;
    li {
      &.expanded.active-trail {
        padding-bottom: 0;
      }
      a {
        color: $lightTextColour;
        &.active {
          color: $highlight;
          font-weight: 600;
        }
      }
      ul.list-group {
        margin: 10px -16px 0 -16px;
        margin-bottom: 0;
        li {
          padding-left: 40px;
          &:first-child,
          &:last-child {
            border-radius: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
  #edit-field-date-value-wrapper {
    width: 100%;
  }
  #edit-submit-news-and-media-releases-views.btn {
    margin-top: 0;
  }
  .views-exposed-form label {
    font-weight: 400;
    color: $lightTextColour;
  }
  .form-item,
  .form-item div,
  .views-exposed-form,
  .views-exposed-form div,
  .views-exposed-widget {
    width: 100%;
    padding: 0;
  }
  .form-item,
  .views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
  }
  .views-exposed-widget {
    margin-bottom: 10px;
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }
  }
  //.views-exposed-widget.views-submit-button {
  //  .btn {
  //    //margin-top: 10px;
  //  }
  //}


  section {
    margin-bottom: 2em;
  }
  h3 {
    font-size: 130%;
    a {
      color: $highlight;
    }
  }

  // RHS/second sidebar (that was moved the the LHS)
  .date-display-single {
    color: $lightTextColour;
  }
  section {
    border: 1px solid $borderGrey;
    padding: 5px;
    h2.block-title {
      background-color: $borderGrey;
      margin: -5px -5px 0 -5px !important;
      padding: 5px;
    }
  }

}
