// Sidebar
.region-sidebar-first {
  border: 0;
  //background-color: $lighterBG;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  ul {
    padding-left: 0;
    li {
      &.expanded.active-trail {
        padding-bottom: 0;
      }
      a {
        color: $lightTextColour;
        &.active {
          color: $highlight;
          font-weight: 600;
        }
      }
      ul.list-group {
        margin: 10px -16px 0 -16px;
        margin-bottom: 0;
        li {
          padding-left: 40px;
          &:first-child,
          &:last-child {
            border-radius: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
  #edit-field-date-value-wrapper {
    width: 100%;
  }
  #edit-submit-news-and-media-releases-views.btn {
    margin-top: 0;
  }
  .views-exposed-form label {
    font-weight: 400;
    color: $lightTextColour;
  }
  .form-item ,
  .views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
    width: 100%;
  }
  .views-exposed-widget.views-submit-button {
    .btn {
      margin-top: 10px;
    }
  }
}



















// RHS, Secondary sidebar
aside.well {
//aside.col-md-3 {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  .region-sidebar-second {
    section {
      margin-bottom: 2em;
    }
    h2 {
      //
    }
    h3 {
      font-size: 130%;
      a {
        color: $highlight;
      }
    }
    .date-display-single {
      color: $lightTextColour;
    }
  }
}
