// set html colour, so the footer doesn't cut to white on short pages...
html {
  background-color: $darkBG;
}



// Header

#region-top-menu {
  padding: 5px 0;
  background-color: $lightBG;
  margin-bottom: 10px;
  a {
    color: $lightTextColour;
    margin-left: 15px;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

#region-header {
  a {
    img {
      width: 420px;
      height: auto;
      margin-bottom: 10px;
    }
  }
  .pull-right {
    padding-right: 0;
    // Secondary Menu
    #block-menu-block-3 {
      margin-top: 5px;
      float: right;
      a {
        color: $highlight;
      }
    }
    // Search
    #block-search-api-page-default-search {
      .search-form-widget {
        margin-top: 5px;
        .form-group {
          float: left;
          min-width: 85.5%;
          min-width: calc( 100% - 4.5em );
          .form-text {
            padding-right: 25px;
          }
        }
        .btn.form-submit {
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}




// Main Nav
#navbar {
  background-color: $textColour;
  border-radius: 0;
  #region-navigation.navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    padding: 0;
  }
  a {
    color: #fff;
  }
}



// Sidebar
.region-sidebar-first {
  border: 0;
  background-color: lighten($lightBG, 5%);
  border-radius: 0;
  box-shadow: none;
}

// Breadcrumb
.breadcrumb {
  border: 0;
  background-color: lighten($lightBG, 5%);
}





// Content

h1,
h2,
h3,
h4 {
  font-weight: 300;
}












// Footer
footer.footer {
  border-top: 0;
  padding-bottom: 0;
  a {
    color: $textColour;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  #region-top-footer {
    color: $textColour;
    background-color: $lightBG;
    padding: 20px 0;
    .block {
      li {
        a {
          padding: 10px 0;
        }
      }
    }
  }
  #region-bottom-footer {
    background-color: $darkBG;
    li {
      margin: 15px 69px 5px 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #fff;
      }
    }
  }
}
