// Generic

html {
  background-color: $darkBG;    // set html colour, so the footer doesn't cut to white on short pages...
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h2 {
  font-size: 26px;
}

.btn-primary {
  background-color: $darkBG;
  border-color: $textColour;
  transition: 0.2s all;
  &:hover,
  &:active,
  &:focus {
    background-color: $highlight;
    border-color: $lightTextColour;
    color: #fff;
  }
}



// Header

#region-top-menu {
  padding: 5px 0;
  background-color: $lightBG;
  margin-bottom: 10px;
  a {
    color: $lightTextColour;
    margin-left: 15px;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  #skip-link {
    float: left;
    a {
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

#region-header {
  a {
    img {
      width: 420px;
      height: auto;
      margin-bottom: 10px;
    }
  }
  .pull-right {
    padding-right: 0;
    // Secondary Menu
    #block-menu-block-3 {
      margin-top: 5px;
      float: right;
      a {
        color: $highlight;
      }
    }
    // Search
    #block-search-api-page-default-search {
      .search-form-widget {
        margin-top: 5px;
        .form-group {
          float: left;
          min-width: 85.5%;
          min-width: calc( 100% - 4.5em );
          .form-text {
            padding-right: 25px;
          }
        }
        .btn.form-submit {
          margin-left: -10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}




// Main Nav
body.front #navbar {
  margin-bottom: 0;
}
#navbar {
  background-color: $textColour;
  border-radius: 0;
  border: 0;
  #region-navigation.navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    padding: 0;
    border: 0;
    #main-nav {
      padding-left: 0;
      padding-right: 0;
      .block-superfish > ul > li {
        a {
          color: #fff;
        }
        & > a {
          padding: 18px 40px 18px 52px;
          &:hover,
          &:active,
          &:focus,
           {
            background: rgba(#fff,0.1);
            text-decoration: underline;
          }
        }
        &.sfHover > a {
          background: rgba(#fff,0.1);
          text-decoration: underline;
        }

        &:before {
          width: 8px;
          background-color: $highlight;
          content: "";
          float: left;
          min-height: 4em;
        }
        &:nth-of-type(2):before {
          background-color: $processColour;
        }
        &:nth-of-type(3):before {
          background-color: $prosecuteColour;
        }
        &:nth-of-type(4):before {
          background-color: $caseReportsColour;
        }
        &:nth-of-type(5):before {
          background-color: $statsColour;
        }
        &:nth-of-type(6):before {
          background-color: $victimColour;
        }
        &.active-trail {
          background-color: #fff;
          a {
            color: $textColour;
          }
        }
      }
      ul ul {
        background-color: $darkBG;
        width: 100% !important;
        padding: 20px;
        margin-top: 1.5em;
        opacity: 0.9;
        @include blurBG();
        li {
          padding-bottom: 15px;
          &:last-of-type {
            padding-bottom: 0;
          }
          a {
            padding: 5px 1px;
          }
        }
      }
    }
  }
}



// Sidebar
.region-sidebar-first {
  border: 0;
  background-color: $lighterBG;
  border-radius: 0;
  box-shadow: none;
}

// Breadcrumb
.breadcrumb {
  border: 0;
  background-color: $lighterBG;
}





// Homepage Carousel
.carousel {
  @include background-gradient($highlight);
  color: #fff;
  a {
    color: #fff;
  }
  ul {
    list-style: none;
  }
}






// Content

.panel {
  .panel-heading {
    background-color: $lighterBG;
    text-transform: uppercase;
    text-align: right;
    font-size: 25px;
    color: $highlight;
  }
  .panel-body {

  }
}
.region-content {
  .panel-panel {
    .panel-pane {
      &:first-of-type .jumbotron {
        background-color: $caseReportsColour;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:nth-of-type(3) .jumbotron {
        background-color: $prosecuteColour;
        border-radius: 0;
      }
      &:last-of-type .jumbotron {
        background-color: $victimColour;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .jumbotron {
      color: #fff;
      border-radius: 4px;
      padding: 30px;
      h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 0;
        .hide-hover {
          //@extend .sr-only;
          color: $textColour;
          opacity: 0;
          transition: 0.26s opacity, 0.9s color;
        }
      }
      p {
        &:last-of-type {
          margin-top: 10px;
          text-decoration: underline;
        }
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 0.85;
        h2 .hide-hover {
          //@extend .un-sr-only;
          opacity: 1;
          color: #fff;
        }
        p {
          &:last-of-type {
            //text-decoration: none;
          }
        }
      }
    }
  }

  .thumbnail.grayscale {
    padding: 0;
    border: 0;
    .caption {
      position: relative;
      margin-top: -6.8em;
      background-color: rgba($darkBG,0.85);
      @include blurBG();
      color: #fff;
      h2 {
        text-transform: uppercase;
        margin-top: 0;
        a {
          color: #fff;
        }
      }
    }
  }
}







// Footer
footer.footer {
  border-top: 0;
  padding-bottom: 0;
  a {
    color: $textColour;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  #region-top-footer {
    color: $textColour;
    background-color: $lightBG;
    padding: 20px 0;
    .block {
      li {
        a {
          padding: 10px 0;
        }
      }
    }
  }
  #region-bottom-footer {
    background-color: $darkBG;
    li {
      margin: 15px 69px 5px 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #fff;
      }
    }
  }
}
