// Variables for CDPP

$highlight:         #876E4C;
$darkBG:            #444;
$lightBG:           #EFEDE8;
$lighterBG:         lighten($lightBG, 5%);
$textColour:        #444;
$lightTextColour:   #666;
$borderGrey:        #E2E2E2;


//$processColour:     #f39c12;
//$prosecuteColour:   #d35400;
//$caseReportsColour: #31869E;
//$statsColour:       #9b59b6;
//$victimColour:      #16a085;

$processColour:     #DCDCDE;
$prosecuteColour:   #00BEC8;
$caseReportsColour: #008B97;
$statsColour:       #07364C;
$victimColour:      $highlight;


$borderRadius:      4px;
