// Variables for CDPP

$highlight:         #876E4C;
$darkBG:            #444;
$lightBG:           #EFEDE8;
$lighterBG:         lighten($lightBG, 5%);
$textColour:        #444;
$lightTextColour:   #666;


$processColour:     #f39c12;
$prosecuteColour:   #d35400;
$caseReportsColour: #31869E;
$statsColour:       #9b59b6;
$victimColour:      #16a085;


$borderRadius:      4px;
