@charset "UTF-8";
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.un-sr-only {
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: initial; }

@font-face {
  font-family: 'cdpp-icons';
  src: url("../font/cdpp-icons.eot");
  src: url("../font/cdpp-icons.eot#iefix") format("embedded-opentype"), url("../font/cdpp-icons.woff") format("woff"), url("../font/cdpp-icons.ttf") format("truetype"), url("../font/cdpp-icons.svg#cdpp-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cdpp-icons';
    src: url('../font/cdpp-icons.svg?32356023#cdpp-icons') format('svg');
  }
}
*/
[class^="icon-"],
[class*=" icon-"] {
  font-family: "cdpp-icons";
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cdpp-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angle-circled-left,
.icon-angle-circled-right,
.icon-circle-empty,
.icon-circle {
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 27px;
  height: 26px;
  display: inline-block; }

.icon-angle-circled-left {
  background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/arrow-left.png); }

.icon-angle-circled-right {
  background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/arrow-right.png); }

.icon-circle-empty {
  background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/circle-empty.png); }

.icon-circle {
  background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/circle-filled.png); }

.icon-home:before {
  content: '\e804'; }

/* '' */
.icon-link-ext:before {
  content: '\e805'; }

/* '' */
.icon-legal:before {
  content: '\e806'; }

/* '' */
.icon-rss:before {
  content: '\e807'; }

/* '' */
.icon-search:before {
  content: '\e808'; }

/* '' */
.icon-newspaper:before {
  content: '\e809'; }

/* '' */
.icon-leaf:before {
  content: '\e80a'; }

/* '' */
.icon-angle-right:before {
  content: '\e80b'; }

/* '' */
.icon-gavel:before {
  content: '\e80c'; }

/* '' */
.icon-shield:before {
  content: '\e80d'; }

/* '' */
.icon-fraud:before {
  content: '\e80e'; }

/* '' */
.icon-screen-x-1:before {
  content: '\e80f'; }

/* '' */
.icon-ball-chain:before {
  content: '\e810'; }

/* '' */
.icon-people:before {
  content: '\e811'; }

/* '' */
.icon-money:before {
  content: '\e812'; }

/* '' */
.icon-drugs-1:before {
  content: '\e813'; }

/* '' */
.icon-camera:before {
  content: '\e814'; }

/* '' */
.icon-drugs:before {
  content: '\e815'; }

/* '' */
.icon-suitcase:before {
  content: '\e816'; }

/* '' */
.icon-laptop:before {
  content: '\e817'; }

/* '' */
.icon-chains:before {
  content: '\e818'; }

/* '' */
.icon-wifi:before {
  content: '\e819'; }

/* '' */
.icon-signal:before {
  content: '\e81a'; }

/* '' */
.icon-screen-x:before {
  content: '\e81b'; }

/* '' */
.icon-fed-star:before {
  content: '\e81c'; }

/* '' */
#region-top-menu {
  padding: 8px 0 0 0;
  background-color: #EFEDE8; }
  #region-top-menu a {
    color: #666;
    margin-left: 15px;
    text-decoration: underline; }
    #region-top-menu a:hover, #region-top-menu a:active, #region-top-menu a:focus {
      text-decoration: none; }
  #region-top-menu #skip-link {
    float: left; }
    #region-top-menu #skip-link a:hover, #region-top-menu #skip-link a:active, #region-top-menu #skip-link a:focus {
      text-decoration: underline; }

#region-header {
  background-color: #fff;
  padding-top: 10px; }
  #region-header a img {
    /*width: 420px;*/
    height: auto;
    max-height: 71px;
    margin-bottom: 15px; }
  #region-header .pull-right {
    padding-right: 0; }
    #region-header .pull-right #block-menu-block-3 {
      margin-top: 5px;
      float: right; }
      #region-header .pull-right #block-menu-block-3 a {
        color: #876E4C; }

#navbar {
  margin-bottom: 0;
  background-color: #444;
  border-radius: 0;
  border: 0; }
  #navbar #region-navigation.navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0 auto;
    padding: 0;
    border: 0; }
    #navbar #region-navigation.navbar #main-nav {
      padding-left: 0;
      padding-right: 0; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li a {
        color: #fff; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li > a {
        padding: 18px 48px 18px 53px; }
        #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li > a:hover, #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li > a:active, #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li > a:focus {
          background: rgba(255, 255, 255, 0.1);
          text-decoration: underline; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li.sfHover > a {
        background: rgba(255, 255, 255, 0.1);
        text-decoration: underline; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:before {
        width: 8px;
        background-color: #876E4C;
        content: "";
        float: left;
        min-height: 4em; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:first-of-type {
        display: none; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:nth-of-type(2):before {
        background-color: #DCDCDE; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:nth-of-type(3):before {
        background-color: #00BEC8; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:nth-of-type(4):before {
        background-color: #008B97; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:nth-of-type(5):before {
        background-color: #07364C; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li:nth-of-type(6):before {
        background-color: #876E4C; }
      #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li.active-trail {
        background-color: #fff; }
        #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li.active-trail a {
          color: #444; }
        #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li.active-trail ul {
          background-color: #fff; }
      #navbar #region-navigation.navbar #main-nav ul ul {
        background-color: #444;
        width: 100% !important;
        margin-top: 1.5em;
        opacity: 0.9;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); }
        #navbar #region-navigation.navbar #main-nav ul ul li a {
          padding: 20px 15px; }
          #navbar #region-navigation.navbar #main-nav ul ul li a.menuparent:after {
            font-family: "cdpp-icons";
            font-style: normal;
            font-weight: normal;
            speak: none;
            content: '\e80b';
            float: right;
            opacity: 0.5; }
          #navbar #region-navigation.navbar #main-nav ul ul li a:hover.menuparent:after, #navbar #region-navigation.navbar #main-nav ul ul li a:active.menuparent:after, #navbar #region-navigation.navbar #main-nav ul ul li a:focus.menuparent:after {
            opacity: 1; }
        #navbar #region-navigation.navbar #main-nav ul ul ul {
          margin-top: 0;
          margin-left: 4.3em; }
  #navbar button.navbar-toggle {
    float: left;
    margin-left: 20px; }
    #navbar button.navbar-toggle:before {
      content: "Menu";
      float: left;
      padding-left: 2.3em;
      color: #fff;
      position: relative; }
    #navbar button.navbar-toggle .icon-bar {
      margin-top: 3px; }

.region-sidebar-first {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0; }
  .region-sidebar-first ul {
    padding-left: 0;
    margin-top: -5px;
    margin-bottom: 0; }
    .region-sidebar-first ul li:first-child, .region-sidebar-first ul li:last-child {
      border-radius: 0; }
    .region-sidebar-first ul li.expanded.active-trail {
      padding-bottom: 0; }
    .region-sidebar-first ul li a {
      color: #666; }
      .region-sidebar-first ul li a.active {
        color: #876E4C;
        font-weight: 600; }
    .region-sidebar-first ul li ul.list-group {
      margin: 10px -16px 0 -16px;
      margin-bottom: 0; }
      .region-sidebar-first ul li ul.list-group li {
        padding-left: 40px; }
        .region-sidebar-first ul li ul.list-group li:first-child, .region-sidebar-first ul li ul.list-group li:last-child {
          border-bottom: none; }
  .region-sidebar-first #edit-field-date-value-wrapper {
    width: 100%; }
  .region-sidebar-first #edit-submit-news-and-media-releases-views.btn {
    margin-top: 0; }
  .region-sidebar-first .views-exposed-form label {
    font-weight: 400;
    color: #666; }
  .region-sidebar-first .form-item,
  .region-sidebar-first .form-item div,
  .region-sidebar-first .views-exposed-form,
  .region-sidebar-first .views-exposed-form div,
  .region-sidebar-first .views-exposed-widget {
    width: 100%;
    padding: 0; }
  .region-sidebar-first .form-item,
  .region-sidebar-first .views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0; }
  .region-sidebar-first .views-exposed-widget {
    margin-bottom: 10px; }
    .region-sidebar-first .views-exposed-widget.views-submit-button a {
      margin-left: 5px; }
    .region-sidebar-first .views-exposed-widget:nth-last-of-type(2) {
      margin-bottom: 0; }
  .region-sidebar-first .menu-block-wrapper {
    margin: 0px -5px -5px -5px; }
    .region-sidebar-first .menu-block-wrapper ul.menu {
      margin-bottom: 0; }
  .region-sidebar-first section {
    margin-bottom: 2em; }
  .region-sidebar-first h3 {
    font-size: 130%; }
    .region-sidebar-first h3 a {
      color: #876E4C; }
  .region-sidebar-first .date-display-single {
    color: #666;
    font-size: 10px; }
  .region-sidebar-first section {
    border: 1px solid #E2E2E2;
    padding: 5px;
    background-color: #fff; }
    .region-sidebar-first section h2.block-title {
      background-color: #E2E2E2;
      margin: -5px -5px 0 -5px !important;
      padding: 5px; }

html {
  background-color: #444; }

body {
  background-color: #f9f9f7; }

body.front {
  background-color: #fff; }

h1,
h2,
h3,
h4 {
  font-weight: 300; }

h2 {
  font-size: 24px; }

.btn-primary,
.btn-info {
  background-color: #444;
  border-color: #444;
  transition: 0.2s all; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus,
  .btn-info:hover,
  .btn-info:active,
  .btn-info:focus {
    background-color: #876E4C;
    border-color: #666;
    color: #fff; }

.search-form,
.search-form-widget {
  margin-top: 5px; }
  .search-form .form-group,
  .search-form-widget .form-group {
    float: left;
    min-width: 85.5%;
    min-width: calc( 100% - 4.5em ); }
    .search-form .form-group .form-text,
    .search-form-widget .form-group .form-text {
      padding-right: 25px; }
  .search-form .btn.form-submit,
  .search-form-widget .btn.form-submit {
    margin-left: -10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.search-form .form-submit {
  margin-top: 1.8em; }

.search-api-page-results .search-performance {
  margin-top: 2em;
  font-size: 95%; }

.search-api-page-results .search-info {
  display: none; }

.carousel {
  background-color: #876E4C;
  background: linear-gradient(573deg, #6d593d, #a1835b);
  background-size: 400% 400%;
  -webkit-animation: bg 30s ease infinite;
  -moz-animation: bg 30s ease infinite;
  animation: bg 30s ease infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff; }
@-webkit-keyframes bg {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }
@-moz-keyframes bg {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }
@keyframes bg {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }
  .carousel a {
    color: #fff; }
  .carousel ul {
    list-style: none; }
  .carousel .field-name-field-read-more a {
    margin-top: 1.5em;
    display: block;
    text-decoration: underline;
    text-transform: uppercase; }
  .carousel .rslides {
    margin-bottom: 0; }
  .carousel .rslides_tabs {
    margin-top: -4em;
    padding-left: 30px; }
  .carousel .group-left {
    padding-left: 0;
    padding-right: 0; }
  .carousel .group-right h2 a {
    text-transform: uppercase; }
  .carousel .img-responsive {
    margin-left: -25px; }
  .carousel .icon-circle-empty,
  .carousel .icon-circle {
    top: -7px;
    position: relative; }
  .carousel .icon-angle-circled-left,
  .carousel .icon-angle-circled-right {
    font-size: 200%; }
  .carousel .icon-angle-circled-left {
    margin-right: 15px; }
  .carousel .icon-angle-circled-right {
    margin-left: 15px; }

div.breadcrumb-row {
  border: 0;
  background-color: #876E4C;
  background: linear-gradient(573deg, #6d593d, #a1835b);
  background-size: 400% 400%;
  -webkit-animation: bg 30s ease infinite;
  -moz-animation: bg 30s ease infinite;
  animation: bg 30s ease infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
@-webkit-keyframes bg {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }
@-moz-keyframes bg {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }
@keyframes bg {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }
  div.breadcrumb-row .breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    padding-left: 0px; }
    div.breadcrumb-row .breadcrumb li {
      color: #fff; }
      div.breadcrumb-row .breadcrumb li a {
        color: #000; }
    div.breadcrumb-row .breadcrumb li + li::before {
      font-family: "cdpp-icons";
      content: "\E80B ";
      padding: 0 5px; }
  div.breadcrumb-row .col-md-12 {
    padding-left: 8px; }

.panel .panel-heading {
  background-color: #876E4C; }
  .panel .panel-heading h2 {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    margin: 0;
    font-weight: 400; }
    .panel .panel-heading h2 i {
      float: left; }
      .panel .panel-heading h2 i.icon-signal {
        font-size: 88%; }
      .panel .panel-heading h2 i.icon-legal {
        font-size: 135%;
        margin-top: -5px; }
      .panel .panel-heading h2 i.icon-fed-star {
        font-size: 88%; }

.page-header {
  color: #876E4C; }

.region-content {
  /*
  .panel-col-bottom .pane-node {
    .panel-body {
      &:after {
        //content: '\e81a';  // tower
        content: '\e81c'; // star
        font-family: 'cdpp-icons';
        //position: relative;
        font-size: 6em;
        color: $lightBG;
        margin-top: -1.2em;
        float: right;
      }
    }
    &:nth-of-type(3) .panel-body:after {
      content: '\e806'; // scales
      font-size: 7.5em;
      margin-top: -1.05em;
      margin-right: -10px;
    }
    &:nth-of-type(1) .panel-body:after {
      content: '\e81a';  // tower
    }
  }
  */ }
  .region-content .panel-panel {
    margin-top: 2em; }
    .region-content .panel-panel .panel-pane .panels-ipe-paneid-6 .jumbotron, .region-content .panel-panel .panel-pane:first-of-type .jumbotron {
      background-color: #00BEC8; }
    .region-content .panel-panel .panel-pane .panels-ipe-paneid-7 .jumbotron, .region-content .panel-panel .panel-pane:nth-of-type(3) .jumbotron {
      background-color: #008B97; }
    .region-content .panel-panel .panel-pane .panels-ipe-paneid-8 .jumbotron, .region-content .panel-panel .panel-pane:last-of-type .jumbotron {
      background-color: #07364C; }
    .region-content .panel-panel .jumbotron {
      border-radius: 4px;
      padding: 28px;
      margin-bottom: 0; }
      .region-content .panel-panel .jumbotron a {
        text-decoration: none;
        color: #fff; }
      .region-content .panel-panel .jumbotron h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 0;
        font-size: 22px; }
        .region-content .panel-panel .jumbotron h2 .hide-hover {
          color: #444;
          opacity: 0;
          transition: 0.26s opacity, 0.9s color; }
      .region-content .panel-panel .jumbotron p {
        font-size: 14px; }
        .region-content .panel-panel .jumbotron p:last-of-type {
          margin-top: 10px;
          /*text-decoration: underline;*/ }
      .region-content .panel-panel .jumbotron:hover, .region-content .panel-panel .jumbotron:active, .region-content .panel-panel .jumbotron:focus {
        opacity: 0.85; }
        .region-content .panel-panel .jumbotron:hover h2 .hide-hover, .region-content .panel-panel .jumbotron:active h2 .hide-hover, .region-content .panel-panel .jumbotron:focus h2 .hide-hover {
          opacity: 1;
          color: #fff; }
  .region-content .panel-col-top,
  .region-content .panel-col-middle {
    margin-top: 0; }
  .region-content .panel-col-bottom .pane-node .panel-body {
    background-position: right 15px bottom 15px;
    background-repeat: no-repeat; }
  .region-content .panel-col-bottom .pane-node #node-1 .panel-body {
    background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/cdpp-news.png); }
  .region-content .panel-col-bottom .pane-node #node-2 .panel-body {
    background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/cdpp-prosecutions.png); }
  .region-content .panel-col-bottom .pane-node #node-3 .panel-body {
    background-image: url(/sites/g/files/net391/themes/site/cdpp/images/front-page/cdpp-about-us.png); }
  .region-content .thumbnail {
    padding: 0;
    border: 0;
    margin-bottom: 0;
    position: relative; }
    .region-content .thumbnail .caption {
      position: absolute;
      margin-top: -6.8em;
      background: rgba(68, 68, 68, 0.85) url(/sites/g/files/net391/themes/site/cdpp/images/front-page/right-arrow-com.png) right 10px bottom 20px no-repeat;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      color: #fff;
      top: auto;
      bottom: 0;
      width: 100%;
      padding-right: 35px;
      /*
      &:after {
        content: '\e80b'; // greater than sign
        font-family: 'cdpp-icons';
        //position: relative;
        font-size: 4em;
        //float: right;
        //margin-top: -1.28em;
        //right: -20px;
        position: absolute;
        right: 10px;
        bottom: 0;
        color: $highlight;
        //color: rgb(41,195,203);
      }*/ }
      .region-content .thumbnail .caption h2 {
        text-transform: uppercase;
        margin: 0;
        min-height: 2.2em; }
        .region-content .thumbnail .caption h2 a {
          color: #fff; }
  .region-content .view-news-and-media-releases-views h2, .region-content .view-case-reports-views h2, .region-content .view-publications-and-policies-views h2 {
    margin-top: 0; }
    .region-content .view-news-and-media-releases-views h2 a, .region-content .view-case-reports-views h2 a, .region-content .view-publications-and-policies-views h2 a {
      color: #444;
      text-decoration: underline; }
  .region-content .views-row {
    margin-top: 1.5em; }
  .region-content .field-name-post-date,
  .region-content .date-display-single {
    color: #876E4C;
    text-transform: uppercase; }
  .region-content .icon-rss:before {
    background-color: #F29100;
    color: #fff;
    padding: 2px 2px 1px 2px;
    width: 1.2em; }
  .region-content .not-front article .field {
    margin-bottom: 1em; }
    .region-content .not-front article .field .field-label {
      color: #666; }

body.front .region-content .thumbnail .caption {
  /*min-height: 8em;*/ }
  body.front .region-content .thumbnail .caption h2 {
    min-height: 0 !important;
    margin-bottom: 5px; }
  body.front .region-content .thumbnail .caption:after {
    right: 10px;
    bottom: 15px;
    color: #29c3cb; }
body.front .panel-col-middle .panel-pane:nth-of-type(1) .caption:after {
  color: #1b374c; }
body.front .panel-col-middle .panel-pane:nth-of-type(3) .caption:after {
  color: #108896; }

body.front .thumbnail {
  border-radius: 4px;
  overflow: hidden; }
  body.front .thumbnail a p {
    color: #fff; }

.node-page .thumbnail {
  margin-bottom: 2em; }

.no-right-padding {
  padding-right: 0px; }

.no-left-padding {
  padding-left: 0px; }

.not-front div.main-container {
  margin-top: 15px; }

.page-node-130 #edit-field-category-tid-wrapper {
  display: none; }

div.ds-2col-fluid .field-name-field-year {
  color: #876E4C; }
div.ds-2col-fluid h2 {
  margin-top: 0px;
  margin-bottom: 5px; }
div.ds-2col-fluid div.field-type-taxonomy-term-reference {
  font-weight: bold; }

.grid-icons {
  margin-top: 1em; }
  .grid-icons a {
    color: #876E4C; }
  .grid-icons img {
    max-height: 190px;
    max-width: 100%; }
  .grid-icons .col-md-3,
  .grid-icons .col-md-4 {
    margin-bottom: 3em; }
    .grid-icons .col-md-3 a,
    .grid-icons .col-md-4 a {
      display: block; }
    .grid-icons .col-md-3 .wrapper,
    .grid-icons .col-md-4 .wrapper {
      border: 2px solid #876E4C;
      background-color: #fff;
      padding: 10px; }
      .grid-icons .col-md-3 .wrapper i:before,
      .grid-icons .col-md-4 .wrapper i:before {
        font-size: 9em;
        display: inline-table;
        margin-left: 0;
        width: 100%;
        min-height: 128px;
        color: #876E4C; }
      .grid-icons .col-md-3 .wrapper h2,
      .grid-icons .col-md-4 .wrapper h2 {
        margin-top: 0; }
      .grid-icons .col-md-3 .wrapper h2, .grid-icons .col-md-3 .wrapper h3, .grid-icons .col-md-3 .wrapper p, .grid-icons .col-md-3 .wrapper a,
      .grid-icons .col-md-4 .wrapper h2,
      .grid-icons .col-md-4 .wrapper h3,
      .grid-icons .col-md-4 .wrapper p,
      .grid-icons .col-md-4 .wrapper a {
        text-align: center; }
    .grid-icons .col-md-3 > .wrapper:hover, .grid-icons .col-md-3 > .wrapper:focus, .grid-icons .col-md-3 > .wrapper:active, .grid-icons .col-md-3 > a:hover, .grid-icons .col-md-3 > a:focus, .grid-icons .col-md-3 > a:active,
    .grid-icons .col-md-4 > .wrapper:hover,
    .grid-icons .col-md-4 > .wrapper:focus,
    .grid-icons .col-md-4 > .wrapper:active,
    .grid-icons .col-md-4 > a:hover,
    .grid-icons .col-md-4 > a:focus,
    .grid-icons .col-md-4 > a:active {
      border-color: #fff;
      color: #fff;
      /*background: $highlight;*/
      text-decoration: none; }
      .grid-icons .col-md-3 > .wrapper:hover .wrapper, .grid-icons .col-md-3 > .wrapper:focus .wrapper, .grid-icons .col-md-3 > .wrapper:active .wrapper, .grid-icons .col-md-3 > a:hover .wrapper, .grid-icons .col-md-3 > a:focus .wrapper, .grid-icons .col-md-3 > a:active .wrapper,
      .grid-icons .col-md-4 > .wrapper:hover .wrapper,
      .grid-icons .col-md-4 > .wrapper:focus .wrapper,
      .grid-icons .col-md-4 > .wrapper:active .wrapper,
      .grid-icons .col-md-4 > a:hover .wrapper,
      .grid-icons .col-md-4 > a:focus .wrapper,
      .grid-icons .col-md-4 > a:active .wrapper {
        border-color: #fff;
        background-color: transparent; }
      .grid-icons .col-md-3 > .wrapper:hover i:before, .grid-icons .col-md-3 > .wrapper:focus i:before, .grid-icons .col-md-3 > .wrapper:active i:before, .grid-icons .col-md-3 > a:hover i:before, .grid-icons .col-md-3 > a:focus i:before, .grid-icons .col-md-3 > a:active i:before,
      .grid-icons .col-md-4 > .wrapper:hover i:before,
      .grid-icons .col-md-4 > .wrapper:focus i:before,
      .grid-icons .col-md-4 > .wrapper:active i:before,
      .grid-icons .col-md-4 > a:hover i:before,
      .grid-icons .col-md-4 > a:focus i:before,
      .grid-icons .col-md-4 > a:active i:before {
        font-size: 9em;
        color: #fff;
        display: inline-table;
        margin-left: 0;
        width: 100%;
        min-height: 128px; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .region-content .panel-col-bottom .pane-node:nth-of-type(1) .panel-body:after, .region-content .panel-col-bottom .pane-node:nth-of-type(3) .panel-body:after,
  .region-content .panel-col-bottom .pane-node .panel-body:after {
    content: '' !important; }

  .panel-panel.panel-col-bottom {
    line-height: 1; }
    .panel-panel.panel-col-bottom ul li {
      line-height: 1.4; } }
.image-hover-hidden {
  display: none; }

footer.footer {
  border-top: 0;
  padding-bottom: 0;
  padding-top: 0; }
  footer.footer a {
    color: #444; }
    footer.footer a:hover, footer.footer a:active, footer.footer a:focus {
      text-decoration: underline; }
  footer.footer #region-top-footer {
    background: #EFEDE8;
    padding: 20px 0; }
    footer.footer #region-top-footer h2.block-title {
      margin-top: 0; }
    footer.footer #region-top-footer .block li {
      margin-top: 1.5em; }
      footer.footer #region-top-footer .block li a {
        color: #444;
        padding: 10px 0; }
    footer.footer #region-top-footer ul {
      margin-bottom: 0; }
    footer.footer #region-top-footer .service-links ul {
      list-style: none;
      padding-left: 0; }
      footer.footer #region-top-footer .service-links ul a img {
        width: 16px;
        display: inline-block;
        margin-top: -4px;
        margin-right: 5px; }
  footer.footer #region-bottom-footer {
    background-color: #444; }
    footer.footer #region-bottom-footer li {
      margin: 15px 68px 5px 0; }
      footer.footer #region-bottom-footer li:last-of-type {
        margin-right: 0; }
      footer.footer #region-bottom-footer li a {
        color: #fff; }

.img-responsive {
  width: auto; }

@media screen and (min-width: 991px) and (max-width: 1200px) {
  #navbar #region-navigation.navbar #main-nav .block-superfish > ul > li > a {
    padding: 18px 27px 18px 30px; }
  #navbar #region-navigation.navbar #main-nav ul ul ul {
    margin-top: -1em;
    margin-left: 0; }

  .carousel .icon-circle-empty,
  .carousel .icon-circle {
    top: -4px; }
  .carousel .rslides_tabs {
    margin-top: -3em;
    margin-bottom: 0; }
  .carousel .icon-angle-circled-left,
  .carousel .icon-angle-circled-right {
    font-size: 180%; }
  .carousel .icon-angle-circled-left {
    margin-right: 5px; }
  .carousel .icon-angle-circled-right {
    margin-left: 5px; }

  .node-page .thumbnail {
    margin-bottom: 2em; }
    .node-page .thumbnail .caption {
      bottom: 0; }

  .panel.panel-default .panel-heading h2 {
    font-size: 24px; }
    .panel.panel-default .panel-heading h2 i.icon-legal {
      font-size: 132%;
      margin-top: -2px; }

  footer.footer #region-bottom-footer li {
    margin: 15px 38px 5px 0; } }
@media screen and (max-width: 991px) {
  body.front .carousel .rslides_tabs {
    margin-top: 10px;
    text-align: center; }
  body.front .main-container .jumbotron,
  body.front .main-container .panel.panel-default,
  body.front .main-container .panel.panel-default .panel-heading,
  body.front .main-container .panel.panel-default .panel-body,
  body.front .main-container .thumbnail {
    border-radius: 0; }
  body.front .main-container .panel-pane,
  body.front .main-container .no-right-padding,
  body.front .main-container .no-left-padding {
    padding: 0 !important; } }
@media screen and (max-width: 725px) {
  #region-header .pull-right {
    float: none !important; }
    #region-header .pull-right .pull-right {
      width: 100%; }
  #region-header .region-header section.block {
    width: 50%;
    float: left !important; }
    #region-header .region-header section.block .list-inline li {
      float: left; }

  #main-nav {
    padding-bottom: 10px; }
    #main-nav ul#superfish-1 li {
      width: 100%; }
      #main-nav ul#superfish-1 li ul {
        display: none !important; } }
@media screen and (max-width: 455px) {
  #region-header a img {
    width: 100%; }
  #region-header .region-header section.block {
    width: 100%; }
  #region-header .menu-name-menu-secondary-menu ul {
    padding-bottom: 20px; }
    #region-header .menu-name-menu-secondary-menu ul li {
      padding-right: 16px; }
  #region-header .search-form-widget .form-group .form-text {
    margin-left: -10px; }
  #region-header .search-form-widget .btn.form-submit {
    margin-left: -12px; }

  .navbar-header {
    margin: 0 !important; }

  body.front .carousel .group-right {
    padding-left: 0;
    margin-left: -15px; }
  body.front .carousel .rslides_tabs {
    padding-left: 10px;
    text-align: left; }
    body.front .carousel .rslides_tabs li {
      margin-top: 20px;
      padding-right: 4px;
      padding-left: 4px; }

  .panel-col-bottom .pane-node .panel-body:after {
    content: '' !important; } }
